Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in~
config.sub
configure
cpp/Makefile.in
depcomp
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltversion.m4
missing
qt4/src/Makefile.in
qt5/src/Makefile.in
utils/Makefile.in
test-driver
